@page
@model CarrinhoModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-3">
        <h1>Carrinho</h1>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in Model.Pedido.Itens)
                {
                    <tr>
                        <td>@p.Descricao</td>
                        <td>@p.Quantidade</td>
                        <td>@p.Valor.ToString("C")</td>
                    </tr>
                }
                @foreach(var d in Model.Pedido.Descontos)
                {
                    <tr>
                        <td colspan="2">Desconto - @d.Descricao</td>
                        <td>@d.Valor.ToString("C")</td>
                    </tr>
                }
                <tr>
                    <td colspan="2">Total</td>
                    <td>@Model.Pedido.Total.ToString("C")</td>
                </tr>
            </tbody>
        </table>
    </div>   
</div>
